nav a  {
    padding: 20px;
    
  }
.wrapper {
    margin-bottom: 40px;
}
.wrapper h2 {
    margin-bottom: 20px;
}
.logo p {
    margin-bottom: 15px;
    margin-top: 20px;

}

#einstein {
    margin-bottom: 28px;
}

#slogan {
    margin-top: 15px;
}

#bestelnu{
    margin-bottom: 20px;
}

#social li {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0px 0px 80px;
}


.logo{
    border: 0px;
}
.button{
    margin-bottom: 55px;
    margin-top: 20px;
    padding: 10px;
}

.wrapper li{
    line-height: 45px;
}
footer li{
    border-bottom: 1px solid rgb(204, 200, 200);
}
footer li:last-child
{
   border-bottom: none;
}
h3{
    margin-bottom: 0px;
}

footer{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 0px;
    
}

#topbar{
    margin-bottom: 5px;
}
header{
    padding-bottom: 0px;
}
main{
    border-bottom: 1px solid rgb(204, 200, 200);
    padding-bottom: 0px;
    padding-top: 10px;
}

