/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
}

/* reset */
body {
    background-color: white;
    border-top: 6px solid lightblue;
    font-family: Varela, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.mainmenu li {
    display: inline-block;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.wrapper.middle {
    display: block;
}

section.middle {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 40px 0px;
}

section.middle>div {
    width: calc((100% - (20px * 2)) / 3);
}

.learn.more {
    color: rgb(64, 123, 195);
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
}

.learn.more::after {
    content: "⯈";
    margin-left: 2px;
}

.mainmenu a {
    border: 2px;
    color: rgb(73, 205, 73);
    float: right;
    font-size: 20px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

.mainmenu .active {
    background-color: rgb(73, 205, 73);
    color: white;
}

h1 {
    padding: 3% 0px 3% 0px;
}

h3 {
    margin-bottom: 1%;
}

h4 {
    margin-bottom: 4%;
}

h1, h3, h4 {
    color: rgb(64, 123, 195);
    font-family: Manjari, sans-serif;
    font-weight: light;
}

.banner {
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 380px;
    max-width: 100%;
}

h2 {
    font-size: 35px;
    padding: 220px 570px 0px;
}

blockquote {
    padding: 0px 300px 0px 300px;
}

.banner h2,
blockquote {
    color: white;
    float: right;
    margin-bottom: 0%;
}

main {
    display: block;
}

p {
    font-size: 12px;
    line-height: 20px;
}

.read.the.letter {
    color: rgb(64, 123, 195);
    font-size: 12px;
    text-decoration: none;
}

.read.letter::after {
    content: " 🢒 ⯈";
    margin-left: 2px;
}

div a {
    color: rgb(64, 123, 195);
    font-family: Varela, sans-serif;
    font-size: 12px;
    text-decoration: underline;
}

.contactbox {
    background-color: rgb(231, 237, 245);
    border-color: rgb(64, 123, 195);
    border-style: solid;
    border-width: 1px;
    padding: 30px;
}

ul {
    list-style: none;
}

footer {
    background-color: rgb(58, 57, 57);
    color: white;
    padding: 20px;
}

footer a {
    color: white;
    word-spacing: 4px;
}

footer label {
    font-size: medium;
}

footer p {
    color: gray;

    font-size: 10px;
}

footer ul {
    display: flex;
}

.form_email {
    display: flex;
    justify-content: space-between;
}