/**
 *
 * Common styles
 *
 * @author !Joeri Van Tricht!
 *
 */

/* ===========================================
   General
   =========================================== */
 

/* html, body and general element styles here */
/* ... */
html{
   background-color: #dfdfdf;
}
nav ul{
   display: flex;
   list-style: none;
   text-decoration: none;  
}

nav a{
   color: black;
   padding: 20px 10px;
   text-decoration: none;  
}

nav a:hover {
   background-color: #b52025;
   color:white;
 
 
}
nav ul li .active{
   background-color: #b52025;
   color:white;
}

nav ul li a {
   transition: color 0.3s; 
}

p{
   text-align: justify;
}
/* ===========================================
   Menu
   =========================================== */

/* menu styles here */
/* ... */



/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
/* ... */
#banner  {
   background-color: grey;
   background-image: url(../img/slider_photo2.jpg);
   background-repeat: no-repeat;
   border: 5px solid #b52025 ;
   box-shadow: 0px 10px 10px gray;
}

#banner p {
   background-color: rgba(4, 0, 0, 0.7);
   color: white;
}
   
/* ===========================================
   Main
   =========================================== */

/* main styles here */
/* ... */
body h3{
   color: #b52025;
   font-weight: normal;
   text-transform: uppercase;
}

h3::after {
   content: " →";
}

div{
   line-height: 1.8;
}
.more a{
   border: 1px solid #b52025;
   border-radius:5px ;
   color: #b52025 ;
   padding: 5px 10px;
   text-decoration: none;
}
.button{
  color: #e2C7C8;
}
.more{
   font-weight: bold;
   margin: 10px;
   padding: 5px 10px;
   text-align: right;
}

.more a::after{
   color: #b52025;
   content:" »" ;
}

body{
   background-color: rgb(236, 231, 231);
   border-radius: 10px 10px 0px 0px;
   font-family: 'Roboto' sans-serif;
   font-size: 13px;
}
.newsletter{
   line-height: 1.8;
}
input{
   background-color: #fdeaeb;
}
label {
   display: none;
}
button{
   background-color: #b52025;
   color: white;
}

/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */
footer p{
   text-align: center;
   
}
footer {
background: rgb(244,251,251);
background: linear-gradient(0deg, rgba(244,251,251,1) 22%, rgba(161,160,156,0.8856792717086834) 100%);
}

