/**
 *
 * Common styles
 *
 * @author !Joeri Van Tricht!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */


/* ===========================================
   Menu
   =========================================== */

/* menu styles here */
/* ... */



/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
/* ... */



/* ===========================================
   Main
   =========================================== */

/* main styles here */
/* ... */


/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */

nav li {
padding: 0px;
display: flex;

}

div   {
   background-image: url(../img/slider_photo2.jpg);
   background-repeat: no-repeat;
}

header li{
   padding: ;
}

div p{
   color: white;
}
