/* ===========================================
   Main
   =========================================== */
/* top */
#main_top {
   padding: 30px 15px 0 15px;
}

#main_top h2 {
   font-weight: bold;
   text-transform: uppercase;
}

address {
   font-size: 14px;
   font-style: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* bottom */
#main_bottom {
   padding: 30px 15px 0 15px;
}

#bottom_content {
   display: flex;
   justify-content: space-between;
}

.bottomleft {
   width: 45%;
}

.info__form p {
   display: flex;
   justify-content: space-between;
}

iframe {
   border: none;
   width: 100%;
}

#social_icons {
   display: flex;
   justify-content: center;
}

/* form */
form label {
   font-size: 16px;
   font-style: italic;
   width: 30%;
}

.info__form input,
select,
textarea {
   padding: 7px;
   width: 65%;
}

.maps.bottomright {
   text-align: right;
   width: 50%;
}